{{#if success_msg}}
		<div class="alert alert-success">
		    {{success_msg}}
		</div>
{{/if}}

{{#if errors}}
			{{#each errors}}
		<div class="alert alert-warning">
		  error : {{this}}
		</div>
		{{/each}}
{{/if}}

{{#if registrationErrors}}
			{{#each registrationErrors}}
					<div class="alert alert-warning">
					  error : {{this.msg}}
					</div>
			{{/each}}
{{/if}}
