<!-- Top Navigation Menu -->
<div class="topnav">
  <a href="#home" class="active">LeoDB</a>
  <!-- Navigation links (hidden by default) -->
  <div id="myLinks">
  	{{#if isAuthenticated}}
    <a href="/">Home</a>
    <a href="/managedb">managedb</a>
    <a href="/logout">Logout</a>
    {{else}}
    <a href="/register">Register</a>
    <a href="/login">Login</a>
    {{/if}}
  </div>
  <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>

<script>
/* Toggle between showing and hiding the navigation menu links when the user clicks on the hamburger menu / bar icon */
function myFunction() {
  var x = document.getElementById("myLinks");
  if (x.style.display === "block") {
    x.style.display = "none";
  } else {
    x.style.display = "block";
  }
}
</script>