<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
<meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<link rel="stylesheet" href="/fontawesome/fontawesome-free-5.14.0-web/css/all.css">
<link rel="stylesheet" href="/style.css">
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
<script src="/bootstrap/js/bootstrap.min.js"></script>
{{> navbar}}
</head>
<body>
 
<div class="container">
{{{body}}}
</div>

</body>
{{> footer}}
</html>