<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
<meta name="viewport" content="width=device-width, init>
<link rel="stylesheet" href="/style.css">
<link rel="stylesheet" href="/bootstrap/css/bootstrap.m>
<script src="/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
 
<div class="container">
{{{body}}}
</div>

</body>
</html>