<h5>Available Databases:</h5>

 {{#if databases}}
<!-- <form method="POST" action="showtables"> -->
 {{#each databases}}
			<a href="/showtables/{{this.databases}}" class="btn btn-primary btn-block" name="dbname">{{this.databases}}</a>
	{{/each}}
	<!--</form>-->
 {{else}}
 	<h6>No Database Found</h6>
 {{/if}}
