<h5>Available Databases:</h5>
<section>
 {{#if databases}}
 {{#each databases}}
			<a href="#" class="btn btn-primary">{{this.databases}}</a>
	{{/each}}		
 {{else}}
 	<h6>No Database Found</h6>
 {{/if}}
</section>
