
<h2>Login</h2>
{{> messages}}
<form action="/user/login" method="POST">
<section>
<label for="username">Username</label>
</section>
<input type="text" class="form-control" value="{{username}}" placeholder="Username" name="username" required="true">
<section>
	<label for="password">Password</label>
 <input type="password" class="form-control" placeholder="Password" name="password" required="true">
</section>
<section>
 <button type="submit" class="btn btn-primary btn-block">Login</button>
</section>
</form> 