
<h2>Register User</h2>
{{> messages}}
<form action="/user/register" method="POST">
<section>
<label for="username">Username</label>
<input type="text" class="form-control" value="{{username}}" name="username" placeholder="Enter Username" required="true">
</section>
<section>
<label for="email">Email</label>
<input type="email" class="form-control" value="{{email}}" name="email" placeholder="Enter Email" required="true">
</section>
<section>
	<label for="password">Password</label>
 <input type="password" class="form-control" placeholder="Enter Password" name="password" required="true">
</section>
<label for="password2">Password</label>
 <input type="password" class="form-control" placeholder="Confirm Password" name="password2" required="true">
</section>
<section>
 <button type="submit" class="btn btn-primary btn-block">Register User</button>
</section>
</form> 